<div class="weatherWidget">
    {{!-- code doesn't go below this --}}
    {{#each partials.weather.locations}}
        {{!-- for each item in locations --}}
        <div>
            <h3>{{name}}</h3>
            <a href="{{forecastUrl}}"> <img src="{{iconUrl}}" alt="{{weather}}">{{weather}}, {{temp}}</a>
        </div>
    {{/each}}
    <small>Source: <a href="http://www.wunderground.com">Weather
Underground</a></small>
</div>

